{% extends 'layout.html'%}
{% block body %}
<html>
    <head>

    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">About</h1>
              <p class="lead">Airbnb is a internet marketplace for short-term home and apartment rentals. It allows you to, for example, rent out your home for a week while you’re away, or rent out your empty bedroom. One challenge that Airbnb hosts face is determining the optimal nightly rent price. In many areas, renters are presented with a good selection of listings and can filter by criteria like price, number of bedrooms, room type, and more. 
                  The aim of this project is to propose a data-driven solution, by using machine learning to predict rental price.</p>
            </div>
          </div>

    </body>

</html>
{% endblock body%}